network:
  version: 2
  ethernets:
    {{ bridged_interface }}:
      dhcp4: false
      addresses:
        - {{ static_ip }}/24
      routes:
        - to: default
          via: {{ gateway }}
      nameservers:
        addresses: [8.8.8.8, 8.8.4.4]
